@import url('https://fonts.googleapis.com/css?family=Catamaran:900');

html,body{
	font-family: Roboto,Calibri, sans-serif;
	font-size:18px;
	background-color:#d1d8e0;
	margin:0;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Catamaran', sans-serif;
	font-weight:900;
	margin: 0;
}
h1{
	font-size:2.5em;
}
header,footer{
	background-color:#fafafa;
	margin:0;
	padding:1em 1.5em;
	box-shadow:0 0 0.5em 0 rgba(0,0,0,0.4);
	z-index:1000;
	min-height:2em;
}
footer{
	background-color:#000;
	color:#fff;
}

.hidden{
    position: absolute;
    left: 500vw;
}
.dummy-em{
    height: 10.05em;
}

.score,.streak,.username{
	float:right;
	background:#fff;
	color:#111;
	padding:0.25em;
	border-radius:0.25em;
}
.streak{
	background:#eb3b5a;
	color:#fff;
	margin-left:0.5em;
	font-size:0.75em;
}
.username{
	position:relative;
	top:-2em;
	box-shadow:0 0 0.1em 0.1em rgba(0,0,0,0.4);
}

.wrapper{
	padding-left:15%;
	padding-right:15%;
}

@media only screen and (max-width: 768px) {
	.wrapper{
		padding-left:5%;
		padding-right:5%;
	}
	.username{
		top:0;
		z-index:1001;
	}
	header h1{
		text-align:center;
	}
}
@media only screen and (max-height:350px) {
	header{
		display:none;
	}
	.dummy-em{
		height:4em;
	}
}

.content{
	padding-top:0.5em;
	padding-bottom:1em;
}

.green{
	background-color:#20bf6b;
}
.yellow{
	background-color:#f7b731;
}
.blue{
	background-color:#3867d6;
}
.red{
	background-color:#eb3b5a;
}
.correct.green{
	background-color:#15d33b !important;
}
.correct.yellow{
	background-color:#e8ca20 !important;
}
.correct.blue{
	background-color:#2985db !important;
}
.correct.red{
	background-color:#db311e !important;
}
.dead>.green:not(.chosen){
	background-color:#5ca57f;
}
.dead>.yellow:not(.chosen){
	background-color:#d8b66e;
}
.dead>.blue:not(.chosen){
	background-color:#6a86c9;
}
.dead>.red:not(.chosen){
	background-color:#ce697b;
}

.quadparent{
	position:relative;
	height:15em;
}
.quadparent.live > .quadrant{
	cursor:pointer;
}
.quadrant{
	position:absolute;
	width:50%;
	height:50%;
	transition: background-color 250ms;
	text-align: center;
	vertical-align: middle;
	line-height: 100%;
	font-size:5em;
	color:white;
}
.quadrant.left{
	left:0;
}
.quadrant.right{
	right:0;
}
.quadrant.top{
	top:0;
}
.quadrant.bottom{
	bottom:0;
}

#countdown{
  position: absolute;
  top:50%;
  bottom:50%;
  left:50%;
  right:50%;
  overflow:visible;
  z-index:800;
}
#countdown-number{
	position:absolute;
	width:100%;
	margin-left:-10px;
  color: black;
  display: inline-block;
  text-align: center;
  line-height:38px;
  z-index:801;
}

.leaderboard{
	position:fixed;
    z-index:1100;
    margin:auto;
    height:20em;
	min-width:16em;
	transition:top 0.25s ease;
    top:250%;
    left:50%;
    bottom:50%;
    transform:translateX(-50%);
    background:#ddd;
    padding:1em 2em;
    border-radius:1em;
    box-shadow:rgba(0,0,0,0.3) 0 0.25em 1em;
	border-width:0.2em;
	border-style:solid;
	border-top-color:#20bf6b;
	border-right-color:#f7b731;
	border-bottom-color:#3867d6;
	border-left-color:#eb3b5a;
}
.leaderboard table{
	width:100%;
}
.leaderboard table th{
	font-size:0.5em;
	text-align:left;
}
.leaderboard table tr:nth-child(odd){
	background:#ccc;
}
.leaderboard table tr:first-child{
	background:#bbb;
}

svg{
  transform: rotateY(-180deg) rotateZ(-90deg);
  width:60px;
  height:60px;
  position:relative;
  left:-30px;
  top:-12px;
}
svg circle:first-child{
	stroke:none;
	fill:#fff;
	opacity:0.5;
}
svg circle:last-child{
  stroke-dasharray: 128px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 4px;
  stroke: white;
  fill: none;
}
@keyframes countdown{
  from{
    stroke-dashoffset: 0px;
  }
  to{
    stroke-dashoffset: 128px;
  }
}

